<app-nav></app-nav>

<section>
    <div class="container-fluid container" id="wrapper">
        <table class="table table-striped table-borederd dt-responsive" style="width: 100%" id="mydatatable">
            <thead class="aqua-gradient lighten-4">
                <tr>
                    <th>Name</th>
                    <th>Skills</th>
                    <!-- <th>Availability</th> -->
                    <th>Select profile</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of members">
                    <td class="font-weight-bold">{{ member.firstName }} {{ member.lastName }}</td>
                    <td class="row csv">
                        <div *ngFor="let skill of member.skills">
                            <span class=" text-truncate text-capitalize" style="max-width: 200px;">
              {{ skill.skillName }}&nbsp; &nbsp; 
            </span>
                        </div>
                    </td>
                    <!-- <td>{{ member.status }}</td> -->
                    <td><a (click)="viewProfile(member.uid)">View Profile</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>