<app-admin-navigation></app-admin-navigation>



<div class="banner slider">
  <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active imageHeight">
        <img
          src="https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="White Painted Cements">
        <div class="carousel-caption">
          <div class="col-md-7">
            <h1 class="pb-2"><strong>Team Portal Overview </strong> </h1>
            <h4>Solving our clients' toughest challenges by providing unmatched services in strategy, consulting,
              digital, technology and operations</h4>
            <a href="/admin-team-list"><button type="button" class="btn btn-success mt-4">Manage Members</button></a>
            <a href="/manage-projects"><button type="button" class="btn btn-dark mt-4">Manage Projects</button></a>
          </div>
        </div>
      </div>
      <div class="carousel-item imageHeight">
        <img
          src="https://images.pexels.com/photos/850796/pexels-photo-850796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="Grey Textile">
        <div class="carousel-caption">
          <div class="col-md-7">
            <h1 class="pb-2"><strong>Team Portal Overview</strong> </h1>
            <h4>We partner with more than three-quarters of the Fortune Global 500, driving innovation to improve the
              way the world works and lives.</h4>
            <a href="/admin-team-list"><button type="button" class="btn btn-success mt-4">Manage Members</button></a>
            <a href="/manage-projects"><button type="button" class="btn btn-dark mt-4">Manage Projects</button></a>
          </div>
        </div>
      </div>
      <div class="carousel-item imageHeight">
        <img
          src="https://images.pexels.com/photos/1020320/pexels-photo-1020320.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="background canvas close up colour">
        <div class="carousel-caption">
          <div class="col-md-7">
            <h1 class="pb-2"><strong>Team Portal Overview</strong> </h1>
            <h4>With expertise across more than 40 industries and all business functions, we deliver transformational
              outcomes for a demanding new digital world.</h4>
            <a href="/admin-team-list"><button type="button" class="btn btn-success mt-4">Manage Members</button></a>
            <a href="/manage-projects"><button type="button" class="btn btn-dark mt-4">Manage Projects</button></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon sliderPage"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon sliderPage"></span>
    </a>

  </div>
</div>
<!-- <div class="code-info bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center pb-3 pt-4">
        <h4><strong></strong> </h4>
      </div>
    </div>
  </div>
</div> -->
<div class="services pb-5 pt-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 col-md-offset-3">
        <h1><strong>Welcoming our new Diamond Clients</strong></h1>
        <h4>With the addition of 10 new Diamond Clients, Accenture now has 193 Diamonds.</h4>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-3 border services-box1 p-4">
        <!-- <i class="fa fa-file-text fa-3x pb-4 "></i> -->
        <h4><strong>CMA CGM (Products)</strong></h4>
        <p>The world’s fourth largest shipping company, headquartered in France.</p>
      </div>
      <div class="col-md-3 border services-box1 p-4">
        <!-- <i class="fa fa-user fa-3x pb-4"></i> -->
        <h4><strong>Heineken (Products)</strong></h4>
        <p>The leading brewer in Europe and the number two brewer in the world.</p>
      </div>
      <div class="col-md-3 border services-box1 p-4">
        <!-- <i class="fa fa-mobile fa-3x pb-4"></i> -->
        <h4><strong>Intel (Communications, Media & Technology)</strong></h4>
        <p>Together with Accenture they have grown their go-to-market partnership through a joint initiative, “IA.Next.”
          Under this partnership, Intel technology is incorporated into Accenture offerings</p>
      </div>
      <div class="col-md-3 border services-box1 p-4">
        <!-- <i class="fa fa-pie-chart fa-3x pb-4"></i> -->
        <h4><strong>Michelin (Products)</strong></h4>
        <p>A France-based tire manufacturer operating in 171 countries. Accenture has been working with Michelin on its
          business transformation over the past 12 years.</p>
      </div>

    </div>
  </div>
</div>
<div class="pb-5 pt-5 mt-5">
  <div class="container">
    <div class="row ">
      <div class="col-md-6">
        <h3><strong>Trending</strong></h3>
        <ul>
          <li>Accenture deliver new, flexible open banking architecture</li>
          <li>Accenture strategy wins with Google</li>
          <li>Accenture Luminaries in action</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="https://logos-download.com/wp-content/uploads/2018/05/Accenture_logo_delivered.png">
      </div>
    </div>
  </div>
</div>
<div class="connecting pb-1 pt-5 mt-5">
  <div class="container">
    <div class="row ">
      <div class="col-md-5">
        <h2 class="pt-5"><strong>Our Vision</strong></h2>
        <p class="pt-3">Our core values shape the culture and define the character of our company. We live the core
          values through individual behaviors. They serve as a foundation in how we act and make decisions..</p>
      </div>
      <!-- <div class="col-md-6">
        <img src="">
      </div> -->
    </div>
  </div>
</div>



