.card-img-top {
    height: 250px;
    width: 100%;
}

.item img {
    height: 400px !important;
    width: 850px !important;
}

#more {
    display: none;
}

#more1 {
    display: none;
}

#more2 {
    display: none;
}